*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #444040;
}
.up{
    display: flex;
    justify-content: center;
}

.parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

img{
    /* width: 100%; */
    height: auto;
    object-fit: fill;
    max-height: 84vh;
}

@media (max-width:890px) {
    img{
        width: 100%;
    }
}

.data{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    height: 395px;
    box-shadow: -8px 10px 37px 8px black;
}

input{
    width: 161px;
    margin: 10px 0px;
   outline: 0;
    text-align: end;
}

.button{
    background-color: floralwhite;
    outline: 0;
    border: 1px solid black;
    border-radius: 3px;
    width: 63px;
}